.Footer {
	background-color: #f8f9fb;
	padding: 0 0;
	margin: 10px 0 0 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Footer-links{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.Footer p{
	margin: 5px 15px;
}

.Footer .image-div{
	text-align: end;
}

.Footer img{
	height: 100px;
}

@media(max-width: 768px){
	.Footer .image-div{
		text-align: center;
	}
	.Footer img{
		width: 100%;
		height: auto;
	}
}